h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
    background-color: black;
    padding: 2px 10px;
    text-align: center;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 243, 204);
    color:navy;
}

#list {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#btnGroup{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#clearCompletedBtn {
    margin-left: 10px;
}
