h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
    background-color: black;
    padding: 2px 10px;
    text-align: center;
}

body{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 243, 204);
    color:navy;
}
